<div class="d-flex justify-content-between m-4">
    <h3 class="m-3">Feedbacks:</h3>
    <%= link_to('Send new feedback', new_path, class:"btn btn-primary m-3")%>
    
</div>

<% @feedbacks.each do |feedback| %>
    <div class="card">
        <h5 class="card-header d-flex justify-content-between">
            <span class="m-2">Feedback №<%= feedback.id %></span>
            <%= link_to('Delete', "/#{feedback.id.to_s}/delete", class:"btn btn-danger")%>
        </h5>
        <div class="card-body row">
            <p class="col-6">
                <strong>Username:</strong><br/>
                <%= feedback.name %>
            </p>
            <p class="col-6">
                <strong>Email:</strong><br/>
                <a href="mailto:<%= feedback.email %>"><%= feedback.email %></a>
            </p>
            <p class="col-12">
                <strong>Feedback:</strong><br/>
                <%= feedback.body %>
            </p>
        </div>
    </div>
<% end %>